#fields {
    padding-top: 2vh;
    display: inline-grid;
    gap: 3vh 5vw;
    grid-template-areas:
        "functions parameters"
        "functions parameters"
        "functions parameters"
        "functions actions";
}

#functions-section {
    grid-area: functions;
    place-self: start end;
}

#parameters-section {
    grid-area: parameters;
    place-self: start;
}

#actions-section {
    grid-area: actions;
    place-self: end;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
}

.input-label {
    padding: 0 0.3vw 0 0.3vw;
    white-space: nowrap;
}

.field__section {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 2%;
}
