#scene {
    position: relative;
}

#scene > * {
    position: absolute;
    width: 100%;
    height: 100%;
}

#loading__bg {
    background-color: rgba(0, 0, 0, 0.5);
}

#loading__progress {
    position: relative;
    left: 45%;
    top: 36%;
}
