#fields-section {
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
    grid-template-areas:
        "functions parameters"
        "functions parameters"
        ". resolution"
        ". actions";
}

#functions-section {
    grid-area: functions;
}

#parameters-section {
    grid-area: parameters;
}

#resolution-section {
    grid-area: resolution;
}

#actions-section {
    grid-area: actions;
    justify-self: end;
}